.vitrinaCategorias {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  width: 100%;

  .container {
    margin: auto;
    max-width: 1200px;
    width: 100%;

    .row {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  .slick-list {
    overflow:hidden;
  }

  .slick-track {
    display: inline-flex;
    flex-direction:row;
  }

  .slick-slider {
    padding-left: 3em;
    padding-right: 3em;

    @media (--xs) {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

    .slick-slide {
      overflow:hidden;
    }

    /* FLECHAS */
    .slick-arrow {
      position: absolute;
      background-color: transparent;
      border:0;
      box-shadow: 0 0 0 0;
      z-index: 20;
      top: 40%;
      transform: translateY(-50%);

      i {
        font-size: 3em;
      }

      &.slick-disabled {
        visibility:hidden;
      }

      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        right: 0;
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 0 0;
      }
    }
  }

  /* TITLE */
  h2 {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: -0.5px;
    text-align: center;
    color:black;
    margin-bottom: 0.7em;

    @media (--xs) {
      font-size: 18px;
    }
  }

  .vitrinaCategorias__content {
    position: relative;
    margin-top: 2.5em;

    .box {
      position: relative;
      /*flex-basis:80px;*/
      padding: 0 0.5em;
      display: flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:center;
      text-decoration: none;

      &__figure {
        height: 60px;
      }

      img {
        margin:auto;
        max-width: 60px;
        height: auto;
      }

      h5 {
        color:black;
        margin-top: 1em;
        font-size: 11px;
        font-weight: 300;
        text-align: center;
        line-height: 1.25;
        letter-spacing: -0.2px;
        text-transform: uppercase;
      }
    }
  }

  /* SLIDER CATEGORIAS - HOME */

  &--home {
    
  }

}
