/*
  ESTILOS GENREALES
*/
.sliderPrincipal {
  background-color: $grey_fa;
  .container {
    max-width: 1500px;
  }
}

.box-banners {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}
.full-banner {
  position:relative;
  width: 100%;
  height: auto;

  .box-banner {
    position: relative;
    //transition:all 350ms cubic-bezier(0.22, 0.61, 0.36, 1);

    a {
      outline:none;
      background-color: $grey_fa;
      img {
        position: relative;
        max-width: 1500px;
        min-width: 960px;
        display: block;
        /*left: 50%;
        margin-left: -750px;*/

        @media (--xs) {
          margin: 0;
          left: 0;
          width: 100%;
          min-width: 100%;
          max-width:100%;
          height: auto;
        }
      }
    }
  }
}
