/*
  ESTILOS PROPIOS DEL SLIDER - DE LAS SLDIER HOME
*/
.full-banner {

  &.slick-slider {
    position: relative;
    overflow:hidden;
    padding: 0;
    user-select: none;
    touch-action: pan-y;

    &:hover,
    &:focus {
      .slick-arrow.slick-prev {
        left: 0 !important;
      }
      .slick-arrow.slick-next {
        right: 0 !important;
      }
    }

    /* BUTTONS */
    .slick-arrow {
      $ml  : 1.15em;
      $height_arrow : 5em;

      position: absolute;
      z-index: 9;
      cursor: pointer;
      top:50%;
      margin-top: -calc($height_arrow/2);
      border: 0;
      height: $height_arrow;
      padding: 0;
      background-color: transparent;

      &:hover,
      &:focus {
        outline:none;
      }

      i {
        position: relative;
        display: block;
        font-size: 3.5em;
        color: color($black a(40%));

        @media (--xs) {
          font-size: 2.5em;
        }
      }

      /* PREV */
      &.slick-prev {
        left:-$height_arrow;
        i {
          left: 50%;
          transform:translateX(-50%);
        }
      }

      /* NEXT */
      &.slick-next {
        right:-$height_arrow;
        i {
          right: 50%;
          transform:translateX(50%);
        }
      }
    }

    .slick-track {
      display: flex;
      flex-wrap: wrap;
    }

    /* SLIDE */
    .slick-slide {
      display: flex;
      flex-direction:column;
      outline:none;
    }

    /* CONTENT LIS */
    .slick-list {
      background-color: $white;
      overflow: hidden;
      border-radius: 2px;
    }

    /* DOTS */
    .slick-dots,
    .dots {
      position: absolute;
      bottom: 1.5em;
      left: 50%;
      transform:translateX(-52%);
      li {
        position: relative;
        display:inline-flex;
        flex-direction:row;
        flex-wrap:nowrap;
        border:0;
        margin-right: 5px;

        button {
          $sz : 15px;
          
          text-align:center;
          position: relative;
          width: $sz;
          height: $sz;
          background-color: #e8e8ea;
          border-radius: 100%;
          border:none;
          color:transparent;
          font-weight: 700;
          font-size: 1rem;
          opacity: .9;
          cursor: pointer;
        }

        &.slick-active {
          button {
            background-color: grey;
          }
        }
      }
    }
  }
}
