/*
  ESTILOS PROPIOS DEL SLIDER - DE LAS SLDIER HOME
*/
.full-banner {

  &.slick-slider {
    position: relative;
    display: block;
    padding: 0;
    user-select: none;
    touch-action: pan-y;

    /* BUTTONS */
    .slick-arrow {
      $ml  : 1.15em;
      $width_arrow : 34px;
      $height_arrow : 52px;

      position: absolute;
      z-index: 9;
      cursor: pointer;
      top:50%;
      margin-top: -calc($height_arrow/2);
      width: $width_arrow;
      height: $height_arrow;
      border: 0;
      padding: 0;
      background-color: transparent;
      outline: 0;

      @media (--xs) {
        display: none !important;
      }

      &.slick-hidden {
        display: none;
      }

      &:hover,
      &:focus {
        outline:none;
      }

      i {
        background-size: 68px $height_arrow;
        position: relative;
        width: $width_arrow;
        height: $height_arrow;
        display: block;
        background-image: url('http://fravega.vteximg.com.br/arquivos/arrows-rd.png');
        &:after {
          content:'';
          display: none;
        }
      }

      /* PREV */
      &.slick-prev {
        left:calc($width_arrow/2);
        i {
          background-position: 0 0;
        }

      }

      /* NEXT */
      &.slick-next {
        right:calc($width_arrow/2);
        i {
          background-position: $width_arrow 0;
        }
      }
    }

    .slick-track  {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      display: inline-flex;
      flex-direction: row;
      transform: translate3d(0, 0, 0);

      &:before,
      &:after {
        display: table;
        content: '';
      }
      &:after {
        clear: both;
      }
    }

    .slick-list  {
      position: relative;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      margin: 0;
      padding: 0;
      transform: translate3d(0, 0, 0);

      &:focus {
        outline: none;
      }

      &.dragging {
        cursor: pointer;
        cursor: hand;
      }
    }

    /* DOTS */
    .slick-dots,
    .dots {
      position: absolute;
      bottom: 1.5em;
      left: 50%;
      transform:translateX(-52%);
      li {
        position: relative;
        display:inline-flex;
        flex-direction:row;
        flex-wrap:nowrap;
        border:0;
        margin-right: 5px;

        button {
          $sz : 10px;

          text-align:center;
          position: relative;
          width: $sz;
          height: $sz;
          background-color: #e8e8ea;
          border-radius: 100%;
          border:none;
          color:transparent;
          font-weight: 700;
          font-size: 1rem;
          opacity: .9;
          cursor: pointer;
        }

        &.slick-active {
          button {
            background-color: grey;
          }
        }
      }
    }

    /* SLICK-SLIDE */
    .slick-slide {
      display: none;
      height: 100%;
      min-height: 1px;
      overflow: hidden;

      &.slick-loading {
        img {
          display: none;
        }
      }

      img {
        opacity:0;
        transition: all 150ms linear;
        display: block;
        position: relative;
        left: 50%;
        transform:translateX(-50%);
      }

      /* ACTIVE */
      &.slick-active {
        z-index: 1;
        img {
          opacity:1;
        }
      }
    }

    .slick-slide.dragging img {
      pointer-events: none;
    }
    &.slick-initialized  .slick-slide {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
